.dashboard-container {
    min-height: 100vh;
    width: 100vw;
    color: white;
    padding: 4vh 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-header h1 {
    font-size: 4vh;
    text-align: center;
}

.dashboard-toggle-buttons {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin: 2vh 0;
}

.dashboard-toggle-buttons button {
    background-color: #002a55;
    border: none;
    color: white;
    font-weight: bold;
    padding: 1vh 2vw;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dashboard-toggle-buttons button:hover {
    background-color: #035cb5;
}

.dashboard-toggle-buttons .active {
    background-color: #0078ff;
    transform: scale(1.05);
}

.dashboard-content {
    background-color: #162a40;
    width: 100%;
    padding: 4vh 2vw;
}
